 /*This is the container for the body*/

body{
 
  /*Add background image here - Page-Background*/
 
  background-image: url("True-News/Page-Background.jpg");
  padding: 15px;
  border: 10px;
  border-style: double;
  border-color: Silver; 
}

/*This is the Container for the Header Image*/

.img1{
  background-color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 10px;
  border-style: double;
  border-color: Silver;
}

/* this is the container for the navigation bar */
nav{
  /* Add background image here - Megaphone-graphic */
  background-image: url("True-News/Megaphone-graphic.gif");
  padding: 25px;
  border: 10px;
  border-style: double;
  border-color: Silver;
  margin-bottom: 25px;
}

/* this is button containers for the navigations */

a{
  background-color: black;
  font-family: 'anurati-regular';
  color: White;
  border-color: silver;
  font-size: 20px;
}

/* Change the link color to blue on hover */

.a {
  transition-duration: 0.4s;
}

.a :hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

/* Change the link color to red when active */

a:active {
  background-color: red;
}





