 /*This is the container for the body*/

body{
 
  /*Add background image here - Page-Background*/
 
  background-image: url("True-News/Page-Background.jpg");
  padding: 15px;
  border: 10px;
  border-style: double;
  border-color: Silver; 
}

/*This is the Container for the Header Image*/

.img1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 30%;
  border: 10px;
  border-style: double;
  border-color: Silver;
}

/* this is the container for the navigation bar */
nav{
  /* Add background image here - Megaphone-graphic */
  background-image: url("True-News/Megaphone-graphic.gif");
  padding: 5px;
  border: 10px;
  border-style: double;
  border-color: Silver;
  margin-bottom: 25px;
}

/* this is button containers for the navigations */
a{
  background-color: darkgray;
  font-family: 'anurati-regular';
  color: White;
  border-color: silver;
  font-size: 20px;
}

/* Change the link color to blue on hover */
ul a:hover {
  background-color: blue;
}

/* Change the link color to red when active */
.active{
  background-color: red;
}




